# Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from fanalysis.mca import MCA
from scipy.stats import chi2_contingency
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
import scipy

# Utilisation du module functions

In [2]:
from mlops_functions import functions
from mlops_functions import stats

# Lecture de données

In [3]:
from mlops_functions.functions import load_data

# Louise
#base = functions.load_data("//ad.univ-lille.fr/Etudiants/Homedir3/147794/Documents/M2/Rendu_MLOPS/athlete_events.csv")
base = functions.load_data("/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/athlete_events.csv")



# Cyrielle
#base = functions.load_data("/Users/Cyrie/OneDrive/Bureau/M2_DS/S1/MLOPS/Rendu_MLOPS/athlete_events.csv")

# Filtre sur Summer

In [4]:
from mlops_functions.functions import filter_summer_season
# Filtre sur la saison d'été
base_summer = functions.filter_summer_season(base)

# Valeurs manquantes et abbérantes du df base_summer

In [5]:
#valeurs manquantes pour le df base summer
valeurs_manquantes_par_variable1 = base_summer.isnull().sum()

# Affichage du résultat pour le df base summer
print(valeurs_manquantes_par_variable1)

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
dtype: int64

In [ ]:
#valeur abbérentes
# Création de la figure et des axes
plt.figure(figsize=(8, 6))

###################AGE#####################
# Création de la boîte à moustaches 
sns.boxplot(x=base_summer['Medal'], y=base_summer['Age'], color='#008030')

# Titres et labels
plt.title('Boîte à moustaches de la variable age selon la médaille')
plt.xlabel('Médaille')
plt.show()

###################Height####################
# Création de la boîte à moustaches 
sns.boxplot(x=base_summer['Medal'], y=base_summer['Height'], color='#008080')

# Titres et labels
plt.title('Boîte à moustaches de la variable taille selon la médaille')
plt.xlabel('Médaille')
plt.show()


###################Weight####################
# Création de la boîte à moustaches 
sns.boxplot(x=base_summer['Medal'], y=base_summer['Weight'], color='#008030')

# Titres et labels
plt.title('Boîte à moustaches de la variable poids selon la médaille')
plt.xlabel('Médaille')
plt.show()

In [6]:
#lecture des valeurs abbérantes
# Filtre sur les enregistrements où l'âge est supérieur à 40 et inférieur à 11 ans
base_summer_age_11_40 = base_summer[(base_summer['Age'] > 40) | (base_summer['Age'] < 11)]
print("DataFrame pour l'âge entre 11 et 40 ans inclus:")
print(base_summer_age_11_40)

# Filtre sur les enregistrements où la taille est inférieure à 145 cm et supérieure à 210 cm
base_summer_height_145_210 = base_summer[(base_summer['Height'] > 210) | (base_summer['Height'] < 145)]
print("\nDataFrame pour la taille entre 145 et 210 cm inclus:")
print(base_summer_height_145_210)

# Filtre sur les enregistrements où le poids est inférieur à 35 kg et supérieur à 118 kg
base_summer_weight_35_118 = base_summer[(base_summer['Weight'] > 118) | (base_summer['Weight'] < 35)]
print("\nDataFrame pour le poids entre 35 et 118 kg inclus:")
print(base_summer_weight_35_118)

DataFrame pour l'âge entre 11 et 40 ans inclus:
            ID                                       Name Sex   Age  Height  \
58          19                      Win Valdemar Aaltonen   M  54.0     NaN
89          28                           Jan-Erik Aarberg   M  43.0   170.0
90          28                           Jan-Erik Aarberg   M  47.0   170.0
124         45                                Hakon Aasns   M  41.0     NaN
126         46                                 Hans Aasns   M  45.0   194.0
...        ...                                        ...  ..   ...     ...
270752  135406                              Bla Zulawszky   M  42.0     NaN
270753  135406                              Bla Zulawszky   M  42.0     NaN
270955  135494                               Jacek uawski   M  41.0     NaN
270971  135501  Ellina Aleksandrovna Zvereva (Kisheyeva-)   F  43.0   183.0
270972  135501  Ellina Aleksandrovna Zvereva (Kisheyeva-)   F  47.0   183.0

        Weight     Team  NOC        Games  Year  Season         City  \
58         NaN  Finland  FIN  1948 Summer  1948  Summer       London
89        77.0   Norway  NOR  1968 Summer  1968  Summer  Mexico City
90        77.0   Norway  NOR  1972 Summer  1972  Summer       Munich
124        NaN   Norway  NOR  1936 Summer  1936  Summer       Berlin
126       93.0   Norway  NOR  1948 Summer  1948  Summer       London
...        ...      ...  ...          ...   ...     ...          ...
270752     NaN  Hungary  HUN  1912 Summer  1912  Summer    Stockholm
270753     NaN  Hungary  HUN  1912 Summer  1912  Summer    Stockholm
270955     NaN   Poland  POL  1948 Summer  1948  Summer       London
270971   100.0  Belarus  BLR  2004 Summer  2004  Summer       Athina
270972   100.0  Belarus  BLR  2008 Summer  2008  Summer      Beijing

                   Sport                                              Event  \
58      Art Competitions  Art Competitions Mixed Sculpturing, Unknown Event
89               Sailing                Sailing Mixed Three Person Keelboat
90               Sailing                Sailing Mixed Three Person Keelboat
124             Shooting  Shooting Men's Small-Bore Rifle, Prone, 50 metres
126             Shooting        Shooting Men's Rapid-Fire Pistol, 25 metres
...                  ...                                                ...
270752           Fencing                     Fencing Men's Foil, Individual
270753           Fencing                    Fencing Men's Sabre, Individual
270955  Art Competitions        Art Competitions Mixed Sculpturing, Statues
270971         Athletics                     Athletics Women's Discus Throw
270972         Athletics                     Athletics Women's Discus Throw

       Medal
58       NaN
89       NaN
90       NaN
124      NaN
126      NaN
...      ...
270752   NaN
270753   NaN
270955   NaN
270971   NaN
270972   NaN

[7435 rows x 15 columns]

DataFrame pour la taille entre 145 et 210 cm inclus:
            ID                                     Name Sex   Age  Height  \
1622       901                        Amos Ojo Adekunle   M  26.0   140.0
1623       901                        Amos Ojo Adekunle   M  30.0   140.0
1634       906                            Peter Adelaar   M  33.0   213.0
1635       906                            Peter Adelaar   M  33.0   213.0
3453      1960                   Saed Muhammad Al-Houti   M  26.0   140.0
...        ...                                      ...  ..   ...     ...
270185  135165  Kimberley Lyn "Kim" Zmeskal (-Burdette)   F  16.0   139.0
270186  135165  Kimberley Lyn "Kim" Zmeskal (-Burdette)   F  16.0   139.0
270740  135401                       Eurelijus ukauskas   M  22.0   218.0
270741  135401                       Eurelijus ukauskas   M  27.0   218.0
270742  135401                       Eurelijus ukauskas   M  30.0   218.0

        Weight           Team  NOC        Games  Year  Season       City  \
1622      48.0        Nigeria  NGR  1988 Summer  1988  Summer      Seoul
1623      48.0        Nigeria  NGR  1992 Summer  1992  Summer  Barcelona
1634     135.0    Netherlands  NED  1980 Summer  1980  Summer     Moskva
1635     135.0    Netherlands  NED  1980 Summer  1980  Summer     Moskva
3453      56.0         Kuwait  KUW  1980 Summer  1980  Summer     Moskva
...        ...            ...  ...          ...   ...     ...        ...
270185    36.0  United States  USA  1992 Summer  1992  Summer  Barcelona
270186    36.0  United States  USA  1992 Summer  1992  Summer  Barcelona
270740   115.0      Lithuania  LTU  1996 Summer  1996  Summer    Atlanta
270741   115.0      Lithuania  LTU  2000 Summer  2000  Summer     Sydney
270742   115.0      Lithuania  LTU  2004 Summer  2004  Summer     Athina

             Sport                                       Event   Medal
1622     Wrestling  Wrestling Men's Light-Flyweight, Freestyle     NaN
1623     Wrestling  Wrestling Men's Light-Flyweight, Freestyle     NaN
1634          Judo                      Judo Men's Heavyweight     NaN
1635          Judo                       Judo Men's Open Class     NaN
3453      Football                     Football Men's Football     NaN
...            ...                                         ...     ...
270185  Gymnastics              Gymnastics Women's Uneven Bars     NaN
270186  Gymnastics             Gymnastics Women's Balance Beam     NaN
270740  Basketball                 Basketball Men's Basketball  Bronze
270741  Basketball                 Basketball Men's Basketball  Bronze
270742  Basketball                 Basketball Men's Basketball     NaN

[739 rows x 15 columns]

DataFrame pour le poids entre 35 et 118 kg inclus:
            ID                      Name Sex   Age  Height  Weight  \
57          18      Timo Antero Aaltonen   M  31.0   189.0   130.0
80          22             Andreea Aanei   F  22.0   170.0   125.0
384        212  Yasser Abdel Rahman Sakr   M  30.0   180.0   120.0
588        338      Muminzhon Abdullayev   M  22.0   190.0   130.0
589        338      Muminzhon Abdullayev   M  26.0   190.0   130.0
...        ...                       ...  ..   ...     ...     ...
270036  135095           Szymon Zikowski   M  32.0   192.0   120.0
270037  135095           Szymon Zikowski   M  36.0   192.0   120.0
270643  135357                Ji Zubrick   M  24.0   188.0   161.0
270644  135357                Ji Zubrick   M  28.0   188.0   161.0
270801  135431                 Stipe uni   M  25.0   193.0   134.0

                  Team  NOC        Games  Year  Season            City  \
57             Finland  FIN  2000 Summer  2000  Summer          Sydney
80             Romania  ROU  2016 Summer  2016  Summer  Rio de Janeiro
384              Egypt  EGY  2008 Summer  2008  Summer         Beijing
588         Uzbekistan  UZB  2012 Summer  2012  Summer          London
589         Uzbekistan  UZB  2016 Summer  2016  Summer  Rio de Janeiro
...                ...  ...          ...   ...     ...             ...
270036          Poland  POL  2008 Summer  2008  Summer         Beijing
270037          Poland  POL  2012 Summer  2012  Summer          London
270643  Czechoslovakia  TCH  1988 Summer  1988  Summer           Seoul
270644  Czechoslovakia  TCH  1992 Summer  1992  Summer       Barcelona
270801         Croatia  CRO  2016 Summer  2016  Summer  Rio de Janeiro

                Sport                                           Event Medal
57          Athletics                        Athletics Men's Shot Put   NaN
80      Weightlifting         Weightlifting Women's Super-Heavyweight   NaN
384         Wrestling  Wrestling Men's Super-Heavyweight, Greco-Roman   NaN
588         Wrestling  Wrestling Men's Super-Heavyweight, Greco-Roman   NaN
589         Wrestling  Wrestling Men's Super-Heavyweight, Greco-Roman   NaN
...               ...                                             ...   ...
270036      Athletics                    Athletics Men's Hammer Throw   NaN
270037      Athletics                    Athletics Men's Hammer Throw   NaN
270643  Weightlifting           Weightlifting Men's Super-Heavyweight   NaN
270644  Weightlifting           Weightlifting Men's Super-Heavyweight   NaN
270801      Athletics                        Athletics Men's Shot Put   NaN

[1769 rows x 15 columns]

# Regroupements

In [ ]:
#voir la répartiton des variables quantitatives avant le regroupement
###################YEAR####################
plt.figure(figsize=(8, 6))
sns.histplot(base_summer['Year'], bins=30, kde=True, color='#008030', stat='density', element='bars', common_norm=False)  # Utilisation du code hexadécimal pour un bleu canard foncé
sns.kdeplot(base_summer['Year'], color='red', linewidth=2)  # Courbe KDE en rouge
plt.title('Répartition de la variable année ')
plt.xlabel('Année')
plt.ylabel('Densité')
plt.show()

###################AGE#####################
plt.figure(figsize=(8, 6))
sns.histplot(base_summer['Age'], bins=30, kde=True, color='#008080', stat='density', element='bars', common_norm=False)  # Utilisation du code hexadécimal pour un bleu canard foncé
sns.kdeplot(base_summer['Age'], color='red', linewidth=2)  # Courbe KDE en rouge
plt.title('Répartition de la variable age ')
plt.xlabel('Age')
plt.ylabel('Densité')
plt.show()

###################HEIGHT#####################
plt.figure(figsize=(8, 6))
sns.histplot(base_summer['Height'], bins=30, kde=True, color='#008030', stat='density', element='bars', common_norm=False)  # Utilisation du code hexadécimal pour un bleu canard foncé
sns.kdeplot(base_summer['Height'], color='red', linewidth=2)  # Courbe KDE en rouge
plt.title('Répartition de la variable taille ')
plt.xlabel('Taille')
plt.ylabel('Densité')
plt.show()

###################WEIGHT#####################
plt.figure(figsize=(8, 6))
sns.histplot(base_summer['Weight'], bins=30, kde=True, color='#008030', stat='density', element='bars', common_norm=False)  # Utilisation du code hexadécimal pour un bleu canard foncé
sns.kdeplot(base_summer['Weight'], color='red', linewidth=2)  # Courbe KDE en rouge
plt.title('Répartition de la variable poids ')
plt.xlabel('Poids')
plt.ylabel('Densité')
plt.show()

In [7]:
from mlops_functions.functions import create_age_classes, create_height_classes, create_weight_classes

# Création des classes d'âge
age_classes = create_age_classes(base_summer)
print(age_classes.head(5))

# Création des classes de taille
height_classes = create_height_classes(base_summer)
print(height_classes.head(5))

# Création des classes de poids
weight_classes = create_weight_classes(base_summer)
print(weight_classes.head(70))

     Age   Classe_age
0   24.0  21 - 24 ans
1   23.0  21 - 24 ans
2   24.0  21 - 24 ans
3   34.0     > 32 ans
26  18.0     < 21 ans
    Height Classe_height
0    180.0  173 - 185 cm
1    170.0  165 - 172 cm
2      NaN           NaN
3      NaN           NaN
26   168.0  165 - 172 cm
     Weight Classe_weight
0      80.0    74 - 80 kg
1      60.0       < 65 kg
2       NaN           NaN
3       NaN           NaN
26      NaN           NaN
..      ...           ...
127    93.0       > 80 kg
128    93.0       > 80 kg
129    93.0       > 80 kg
130    74.0    74 - 80 kg
131    74.0    74 - 80 kg

[70 rows x 2 columns]

/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_age'] = pd.cut(df['Age'], bins=intervalles, labels=labels, right=False)
/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_age'] = df['Classe_age'].astype('category')
/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_height'] = pd.cut(df['Height'], bins=intervalles_taille, labels=labels_taille, right=False)
/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_height'] = df['Classe_height'].astype('category')
/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_weight'] = pd.cut(df['Weight'], bins=intervalles_poids, labels=labels_poids, right=False)
/Users/lepercqlouise/stockage_macBook/Rendu_MLOPS/mlops_functions/functions.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Classe_weight'] = df['Classe_weight'].astype('category')

In [ ]:
#afficher les frequences de modalites pour les variables regroupes
###################AGE#####################
print("Fréquences de modalités pour la Classe âge:")
print(base_summer['Classe_age'].value_counts())

###################HEIGHT#####################
print("\nFréquences de modalités pour la Classe taille:")
print(base_summer['Classe_height'].value_counts())

###################WEIGHT#####################
print("\nFréquences de modalités pour la Classe poids:")
print(base_summer['Classe_weight'].value_counts())


#fonction pour afficher les fréquences en pourcentage
def print_percentage_counts(column_name):
    percentages = base_summer[column_name].value_counts(normalize=True) * 100
    print(f"Fréquences en pourcentage pour la colonne '{column_name}':")
    print(percentages)

# Afficher les fréquences en pourcentage pour la classe d'âge
print_percentage_counts('Classe_age')

# Afficher les fréquences en pourcentage pour la classe de taille
print("\n")
print_percentage_counts('Classe_height')

# Afficher les fréquences en pourcentage pour la classe de poids
print("\n")
print_percentage_counts('Classe_weight')

# Filtre les années 2000 et suppression de variable

In [8]:
from mlops_functions.functions import filter_by_year

# Filtrer sur l'année supérieure ou égale à 2000
base_summer_2000 = filter_by_year(base_summer)
print(base_summer_2000.head())

    ID                       Name Sex   Age  Height  Weight     Team  NOC  \
1    2                   A Lamusi   M  23.0   170.0    60.0    China  CHN
31  12          Jyri Tapani Aalto   M  31.0   172.0    70.0  Finland  FIN
33  13         Minna Maarit Aalto   F  34.0   159.0    55.5  Finland  FIN
57  18       Timo Antero Aaltonen   M  31.0   189.0   130.0  Finland  FIN
79  21  Ragnhild Margrethe Aamodt   F  27.0   163.0     NaN   Norway  NOR

          Games  Year  Season     City      Sport  \
1   2012 Summer  2012  Summer   London       Judo
31  2000 Summer  2000  Summer   Sydney  Badminton
33  2000 Summer  2000  Summer   Sydney    Sailing
57  2000 Summer  2000  Summer   Sydney  Athletics
79  2008 Summer  2008  Summer  Beijing   Handball

                           Event Medal   Classe_age Classe_height  \
1   Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31       Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33    Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57      Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
79     Handball Women's Handball  Gold    25-32 ans      < 165 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
79           NaN

In [9]:
from mlops_functions.functions import drop_columns

# Filtrer sur l'année supérieure ou égale à 2000
base_summer_2000 = filter_by_year(base_summer)
print("Avant suppression des colonnes :")
print(base_summer_2000.head())

# Supprimer les variables 'Team' et 'Season'
columns_to_drop = ['Team', 'Season', 'Age', 'Height', 'Weight']
base_summer_2000 = drop_columns(base_summer_2000, columns_to_drop)
print("\nAprès suppression des colonnes :")
print(base_summer_2000.head())

Avant suppression des colonnes :
    ID                       Name Sex   Age  Height  Weight     Team  NOC  \
1    2                   A Lamusi   M  23.0   170.0    60.0    China  CHN
31  12          Jyri Tapani Aalto   M  31.0   172.0    70.0  Finland  FIN
33  13         Minna Maarit Aalto   F  34.0   159.0    55.5  Finland  FIN
57  18       Timo Antero Aaltonen   M  31.0   189.0   130.0  Finland  FIN
79  21  Ragnhild Margrethe Aamodt   F  27.0   163.0     NaN   Norway  NOR

          Games  Year  Season     City      Sport  \
1   2012 Summer  2012  Summer   London       Judo
31  2000 Summer  2000  Summer   Sydney  Badminton
33  2000 Summer  2000  Summer   Sydney    Sailing
57  2000 Summer  2000  Summer   Sydney  Athletics
79  2008 Summer  2008  Summer  Beijing   Handball

                           Event Medal   Classe_age Classe_height  \
1   Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31       Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33    Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57      Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
79     Handball Women's Handball  Gold    25-32 ans      < 165 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
79           NaN

Après suppression des colonnes :
    ID                       Name Sex  NOC        Games  Year     City  \
1    2                   A Lamusi   M  CHN  2012 Summer  2012   London
31  12          Jyri Tapani Aalto   M  FIN  2000 Summer  2000   Sydney
33  13         Minna Maarit Aalto   F  FIN  2000 Summer  2000   Sydney
57  18       Timo Antero Aaltonen   M  FIN  2000 Summer  2000   Sydney
79  21  Ragnhild Margrethe Aamodt   F  NOR  2008 Summer  2008  Beijing

        Sport                         Event Medal   Classe_age Classe_height  \
1        Judo  Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31  Badminton       Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33    Sailing    Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57  Athletics      Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
79   Handball     Handball Women's Handball  Gold    25-32 ans      < 165 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
79           NaN

# Valeurs manquantes du df base_summer_2000

In [10]:
from mlops_functions.functions import display_missing_values

# Filtrer sur l'année supérieure ou égale à 2000
base_summer_2000 = filter_by_year(base_summer)
print("Avant suppression des colonnes :")
print(base_summer_2000.head())

# Calculer et afficher les valeurs manquantes
valeurs_manquantes_par_variable2 = display_missing_values(base_summer_2000)

Avant suppression des colonnes :
    ID                       Name Sex   Age  Height  Weight     Team  NOC  \
1    2                   A Lamusi   M  23.0   170.0    60.0    China  CHN
31  12          Jyri Tapani Aalto   M  31.0   172.0    70.0  Finland  FIN
33  13         Minna Maarit Aalto   F  34.0   159.0    55.5  Finland  FIN
57  18       Timo Antero Aaltonen   M  31.0   189.0   130.0  Finland  FIN
79  21  Ragnhild Margrethe Aamodt   F  27.0   163.0     NaN   Norway  NOR

          Games  Year  Season     City      Sport  \
1   2012 Summer  2012  Summer   London       Judo
31  2000 Summer  2000  Summer   Sydney  Badminton
33  2000 Summer  2000  Summer   Sydney    Sailing
57  2000 Summer  2000  Summer   Sydney  Athletics
79  2008 Summer  2008  Summer  Beijing   Handball

                           Event Medal   Classe_age Classe_height  \
1   Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31       Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33    Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57      Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
79     Handball Women's Handball  Gold    25-32 ans      < 165 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
79           NaN
Valeurs manquantes par variable :
ID                   0
Name                 0
Sex                  0
Age                  3
Height             654
Weight             905
Team                 0
NOC                  0
Games                0
Year                 0
Season               0
City                 0
Sport                0
Event                0
Medal            57457
Classe_age           3
Classe_height      654
Classe_weight      905
dtype: int64

In [11]:
from mlops_functions.functions import drop_missing_values

# Filtrer sur l'année supérieure ou égale à 2000
base_summer_2000 = filter_by_year(base_summer)
print("Avant suppression des colonnes :")
print(base_summer_2000.head())

# Supprimer les valeurs manquantes pour les colonnes spécifiques
columns_to_check = ['Classe_age', 'Classe_height', 'Classe_weight']
base_summer_2000_net = drop_missing_values(base_summer_2000, columns_to_check)
print("\nAprès suppression des valeurs manquantes :")
print(base_summer_2000_net.head())

Avant suppression des colonnes :
    ID                       Name Sex   Age  Height  Weight     Team  NOC  \
1    2                   A Lamusi   M  23.0   170.0    60.0    China  CHN
31  12          Jyri Tapani Aalto   M  31.0   172.0    70.0  Finland  FIN
33  13         Minna Maarit Aalto   F  34.0   159.0    55.5  Finland  FIN
57  18       Timo Antero Aaltonen   M  31.0   189.0   130.0  Finland  FIN
79  21  Ragnhild Margrethe Aamodt   F  27.0   163.0     NaN   Norway  NOR

          Games  Year  Season     City      Sport  \
1   2012 Summer  2012  Summer   London       Judo
31  2000 Summer  2000  Summer   Sydney  Badminton
33  2000 Summer  2000  Summer   Sydney    Sailing
57  2000 Summer  2000  Summer   Sydney  Athletics
79  2008 Summer  2008  Summer  Beijing   Handball

                           Event Medal   Classe_age Classe_height  \
1   Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31       Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33    Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57      Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
79     Handball Women's Handball  Gold    25-32 ans      < 165 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
79           NaN
Valeurs manquantes après suppression :
ID                   0
Name                 0
Sex                  0
Age                  0
Height               0
Weight               0
Team                 0
NOC                  0
Games                0
Year                 0
Season               0
City                 0
Sport                0
Event                0
Medal            56493
Classe_age           0
Classe_height        0
Classe_weight        0
dtype: int64

Après suppression des valeurs manquantes :
    ID                  Name Sex   Age  Height  Weight     Team  NOC  \
1    2              A Lamusi   M  23.0   170.0    60.0    China  CHN
31  12     Jyri Tapani Aalto   M  31.0   172.0    70.0  Finland  FIN
33  13    Minna Maarit Aalto   F  34.0   159.0    55.5  Finland  FIN
57  18  Timo Antero Aaltonen   M  31.0   189.0   130.0  Finland  FIN
80  22         Andreea Aanei   F  22.0   170.0   125.0  Romania  ROU

          Games  Year  Season            City          Sport  \
1   2012 Summer  2012  Summer          London           Judo
31  2000 Summer  2000  Summer          Sydney      Badminton
33  2000 Summer  2000  Summer          Sydney        Sailing
57  2000 Summer  2000  Summer          Sydney      Athletics
80  2016 Summer  2016  Summer  Rio de Janeiro  Weightlifting

                                      Event Medal   Classe_age Classe_height  \
1              Judo Men's Extra-Lightweight   NaN  21 - 24 ans  165 - 172 cm
31                  Badminton Men's Singles   NaN    25-32 ans  165 - 172 cm
33               Sailing Women's Windsurfer   NaN     > 32 ans      < 165 cm
57                 Athletics Men's Shot Put   NaN    25-32 ans      > 185 cm
80  Weightlifting Women's Super-Heavyweight   NaN  21 - 24 ans  165 - 172 cm

   Classe_weight
1        < 65 kg
31    65 - 73 kg
33       < 65 kg
57       > 80 kg
80       > 80 kg

In [12]:
#nombre de ligne de notre df base après filtre du df base summer
nombre_de_lignes3 = base_summer_2000_net.shape[0]

#affiche le nombre de lignes du df base summer 2000
print("Nombre de lignes :", nombre_de_lignes3)

Nombre de lignes : 66450

# Statistiques descriptives

## statistique univarié

In [ ]:
from mlops_functions.stats import plot_sex_pie_chart, plot_age_class_pie_chart, plot_count_percentage_bar_chart, plot_noc_distribution


plot_sex_pie_chart(base_summer_2000_net, 'Répartition des sexes')
plot_age_class_pie_chart(base_summer_2000_net, 'Répartition des âges')
plot_count_percentage_bar_chart(base_summer_2000_net, 'Classe_height', 'Répartition des tailles')
plot_count_percentage_bar_chart(base_summer_2000_net, 'Classe_weight', 'Répartition des poids')
plot_noc_distribution(base_summer_2000_net)

## statistique bivarié

In [ ]:
from mlops_functions.stats import create_bar_plot

create_bar_plot(base_summer_2000_net, 'Sex')
create_bar_plot(base_summer_2000_net, 'Classe_age')
create_bar_plot(base_summer_2000_net, 'Classe_height')
create_bar_plot(base_summer_2000_net, 'Classe_weight')
create_bar_plot(base_summer_2000_net, 'NOC')
create_bar_plot(base_summer_2000_net, 'Games')
create_bar_plot(base_summer_2000_net, 'Sport')

In [ ]:
def create_bar_plot(base_summer_2000_net, x_variable, target_variable='Medal'):

    # Create a bar plot
    plt.figure(figsize=(12, 6))
    sns.countplot(x=x_variable, hue=target_variable, data=base_summer_2000_net, palette='viridis')
    plt.title(f'Répartition des {target_variable} selon leurs {x_variable}')
    plt.xlabel(x_variable)
    plt.ylabel('Count')
    plt.xticks(rotation=45)
    plt.legend(title=target_variable)
    plt.show()

# Example usage:
# Assuming your DataFrame is named df
create_bar_plot(base_summer_2000_net, 'Sex')
create_bar_plot(base_summer_2000_net, 'Classe_age')
create_bar_plot(base_summer_2000_net, 'Classe_height')
create_bar_plot(base_summer_2000_net, 'Classe_weight')
create_bar_plot(base_summer_2000_net, 'NOC')
create_bar_plot(base_summer_2000_net, 'Games')
create_bar_plot(base_summer_2000_net, 'Sport')

# Corrélation entre les variables - V de Cramer

In [9]:
# Sélectionnez vos variables catégorielles
categorical_vars = ['Name', 'Sex', 'NOC', 'Games', 'City', 'Sport',
                    'Event', 'Medal', 'Classe_age', 'Classe_height', 'Classe_weight']

In [ ]:
# Cette fonction permet de calculer le tableau de contingenance. Au vu de nos données le résultat est long a sortir, donc nou conseillons de ne pas le lancer. 

from mlops_functions.functions import calculate_cramer_v, plot_cramer_matrix

# Calculez le V de Cramer et affichez la matrice de corrélation
# cramer_matrix = calculate_cramer_v(base_summer_2000_net, categorical_vars)
# plot_cramer_matrix(cramer_matrix)

# Faire de nouveaux regroupement et suppression des variables utilisées pour la suite de l'analyse

In [11]:
base_ACM = base_summer_2000_net

In [ ]:
from mlops_functions.functions import transform_base_ACM

base_ACM = transform_base_ACM(base_summer_2000_net)

# Affichage des colonnes après transformation
print(base_ACM.columns)

In [ ]:
#remplacer les valeurs manquantes de la variable cibe par "pas de médaille"
base_ACM['Medal'].fillna('Pas_de_médaille', inplace=True)
base_ACM.isnull().sum()

# ACM

In [ ]:
from mlops_functions.functions import analyze_acm

base_ACM = analyze_acm(base_ACM)
#remplacer les valeurs manquantes de la variable cibe par "pas de médaille"
#base_ACM['Medal'].fillna('Pas_de_médaille', inplace=True)
#print(base_ACM)

In [ ]:
# pip install fanalysis
# utilisation du package fanalysis 

#acm = MCA()
#acm.fit(base_ACM.values)

In [ ]:
# afficher les valeurs propres 
#acm.eig_

In [24]:
#eigenvalues = acm.eig_

In [ ]:
# Obtenir les valeurs propres associées à chaque composante principale
#eigenvalues = acm.eig_

# Calculer le pourcentage de chaque valeur propre
#total_variance = sum(eigenvalues[0])
#percentage_var = [(value / total_variance) * 100 for value in eigenvalues[0]]

# Utiliser une palette de couleurs Seaborn et inverser l'ordre
#sns.set(style="whitegrid")
#palette = sns.color_palette("BuGn", len(percentage_var))
#palette = palette[::-1]  # Inverser l'ordre des couleurs

# Tracer le diagramme en barres des valeurs propres en pourcentage
#plt.figure(figsize=(10, 6))
#bars = plt.bar(range(1, len(percentage_var) + 1), percentage_var, color=palette, edgecolor='black')
#plt.xlabel('Composante Principale')
#plt.ylabel('Pourcentage de Variance Expliquée')
#plt.title('Diagramme en Barres des Valeurs Propres en Pourcentage - ACM')

# Définir les ticks de l'axe x avec des valeurs entières
#plt.xticks(range(1, len(percentage_var) + 1))

# Ajouter les étiquettes de valeur uniquement pour les deux premières barres
#for i, (bar, value) in enumerate(zip(bars, percentage_var)):
#    if i < 2:
#        plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height() + 0.2, f'{value:.2f}%',
#                 ha='center', va='bottom', color='black', fontsize = 8)

#plt.show()

In [ ]:
# indormation que procure l'ACM 
#info_col = acm.col_topandas()
#info_col.columns

In [ ]:
# Coordonnée des modalité pour l'axe 1 et 2
#coord_col = info_col[['col_coord_dim1', 'col_coord_dim2']]
#print(coord_col)

In [ ]:
# Contribution des modalités pour l'axe 1 et 2
#contrib_col = pd.DataFrame(info_col[['col_contrib_dim1', 'col_contrib_dim2']])
#contrib_col

In [ ]:
#ACM -projection des colonnes
#import matplotlib.pyplot as plt

#fig, ax = plt.subplots(figsize=(7, 7))
#ax.axis([-2.2, +2.2, -1.2, +1.5])
#ax.plot([-2.2, +2.2], [0, 0], color="silver", linestyle="--")
#ax.plot([0, 0], [-2.2, +2.2], color='silver', linestyle="--")
#ax.set_xlabel('Dim.1')
#ax.set_ylabel('Dim.2')
#plt.title("Modalité")

#for x, y, lbl in zip(coord_col.iloc[:, 0], coord_col.iloc[:, 1], coord_col.index):
#    ax.text(x, y, lbl, horizontalalignment='center', verticalalignment='center', fontsize=7)

#plt.show()

In [ ]:
#ACM -projection en couleur
#acm.mapping_col(num_x_axis = 1 , num_y_axis = 2)

# Modélisation

In [35]:
from mlops_functions.functions import preprocess_and_split_data

# Prétraiter et diviser les données
base_model = base_ACM
X_train_encoded, X_test_encoded, y_train, y_test = preprocess_and_split_data(base_model)

Valeurs uniques avant la modification : ['Pas_de_médaille' 'medaille']
Valeurs uniques après la modification : ['Pas_de_médaille' 'medaille']

In [58]:
from mlops_functions.functions import define_preprocessor
# Utiliser la fonction define_preprocessor pour obtenir preprocessor et cat_columns
preprocessor, cat_columns = define_preprocessor()

## Régression logistique

In [ ]:
from mlops_functions.functions import train_and_evaluate_logistic_regression
LG = train_and_evaluate_logistic_regression(X_train_encoded, X_test_encoded, y_train, y_test)

## Random Forest

In [ ]:
from mlops_functions.functions import train_and_evaluate_random_forest
trained_model_RF = train_and_evaluate_random_forest(X_train_encoded, X_test_encoded, y_train, y_test)

# KNN

In [ ]:
from mlops_functions.functions import choose_k_and_evaluate_knn
trained_model_KNN = choose_k_and_evaluate_knn(X_train_encoded, X_test_encoded, y_train, y_test)

# interprétation du modèle Regression logisitique

In [61]:
from mlops_functions.functions import analyze_logistic_regression

interpret = analyze_logistic_regression(LG, preprocessor, X_train_encoded, cat_columns)

# permet d'obtenir les coefficients directeurs associé aux modalités

#coefficients = LG.coef_
#coefficients

AttributeError: 'ColumnTransformer' object has no attribute 'transformers_'

In [39]:
# permet d'obtenir les coefficients directeurs associé aux modalités

coefficients = LG.coef_
coefficients

array([[-0.3997242 , -1.3302836 ,  1.57874587,  0.6628577 ,  0.9293529 ,
         0.97241796,  1.10450648,  0.51699593,  1.02458601,  0.31638146,
         0.54152503,  0.22676924,  1.35247967,  0.98851018,  0.0887227 ,
        -0.2982972 , -0.10728899,  0.13377636, -0.10921965,  0.25590161,
         0.1301756 ,  0.02527832,  0.19080879]])

In [41]:
# Obtenir les noms des colonnes après la transformation
column_names = preprocessor.named_transformers_['cat'].get_feature_names_out(cat_columns)

# Associer les coefficients aux noms des colonnes
coefficients_dict = dict(zip(column_names, LG.coef_[0]))

# Afficher les coefficients avec les noms des colonnes associés
for variable, coef in coefficients_dict.items():
    print(f"{variable}: {coef}")

AttributeError: 'ColumnTransformer' object has no attribute 'transformers_'

In [ ]:
# permet d'obtenir le coefficient de l'individu de référence

intercept = LG.intercept_
intercept

In [ ]:
# Obtenez les probabilités prédites
predicted_probabilities = LG.predict_proba(X_train_encoded)

# Calculez les z-scores des coefficients
z_scores = np.zeros(shape=(len(LG.coef_[0]),))
for index, coef in enumerate(LG.coef_[0]):
    z_scores[index] = coef / np.std(predicted_probabilities[:, 1])

# Convertissez les z-scores en p-values approximatives
p_values = scipy.stats.norm.sf(abs(z_scores))
p_values

# Créez un dictionnaire pour associer les noms de colonnes après la transformation aux p-values
p_values_dict = dict(zip(column_names, p_values))

# Affichez les associations entre les modalités et les p-values
for column_name, p_value in p_values_dict.items():
    if p_value < 0.001:
        print(f"{column_name}: <0.001")
    else:
        print(f"{column_name}: {p_value:.3f}")